If:
  PathExclude: [third_party/.*]

CompileFlags:
  CompilationDatabase: build
  Compiler: clang-cl
  Add:
    - "--std=c++23"
    - "-Wno-unused-parameter"
    - "-Wno-missing-field-initializers"

Diagnostics:
  Suppress:
    - "unused-parameter"
    - "c++98-compat"
    - "c++98-compat-pedantic"

Index:
  Background: Build

